<div class="kotoba-comment">
    <div class="left">
        <div class="avatar">
            <img src="macro:comment-avatar"/>
        </div>
    </div>
    <div class="right">
        <div class="comment-box">
            <div class="upper">
                <div class="comment-upper-username">
                    <a href="macro:comment-user-website" target="_blank">macro:comment-username</a>
                </div>
                <div>
                    macro:comment-date
                </div>
            </div>
            <div class="center">
                macro:comment-content-html
            </div>
            <div class="downer">
                macro:reaction-html
            </div>
        </div>
    </div>
</div>