<div class="kotoba-inner">
    <div class="kotoba-upper">
        <div class="left">
            <img src="macro:user-avatar"/>
        </div>
        <div class="right">
            <textarea placeholder="macro:input-placeholder" maxlength="macro:input-maxlength" minlength="macro:input-minlength" class="comment-input" type="text"/>
            <div class="submit">
                <div class="left"></div>
            </div>
        </div>
    </div>
    <div class="kotoba-downer">
        macro:comments-html
    </div>
</div>